body {
    background: black;
    display: flex; 
    justify-content: flex-start;
  }

  .mainContent { 
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  canvas {
    border: 1px solid white;
  }
  
  audio {
    display: block;
    width: 400px;
    border: 1px solid white;
  }